.row-game{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.infos-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    background-color: rgb(168, 168, 168);
}
.infos-game p{
    min-width: 150px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    padding: .2rem;
}
.infos-game .header{
    display: flex;
    justify-content: space-between;
}
.infos-game .game{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--dark-blue);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}
.infos-game .game div{
    min-width: 150px;
    text-align: center;
}
.infos-game .team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.infos-game .team img{
    width: 35px;
    height: 35px;
    margin: .3rem;
}
.infos-game .infos{
    margin: .2rem;
}
.infos-game .infos span{
    margin: .2rem;
    font-size: 1.4rem;
    font-weight: bold;
}
.infos-game .infos div{
    margin: .4rem 0;
}
.infos-game .infos .penalty-goals{
    font-size: 1rem;
}