.container{
    min-height: 65vh;
    padding: 1rem 2rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Responsividade */

@media (max-width: 555px){
    .container{
        padding: 1rem;
    }
}
@media (max-width: 450px){
    .container{
        padding: .2rem;
    }
}