.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.dashboard-header a{
    text-decoration: none;
    background-color: var(--dark-blue);
    color: var(--light-gray);
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5rem .8rem;
    border-radius: 5px;
    border: 2px solid var(--dark-blue);
}
.dashboard-header a:hover{
    background-color: transparent;
    color: var(--dark-blue);
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.dashboard-row{
    border-bottom: 1px solid var(--dark-blue);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dashboard-infos{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.dashboard-infos p{
    display: flex;
    align-items: center;
}
.dashboard-infos img{
    width: 35px;
    height: 35px;
}
.dashboard-infos .info{
    width: 160px;
    padding: .2rem;
    border:  1px solid var(--dark-blue);
    border-radius: 5px;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.actions .danger{
    color: var(--text-danger);
}
.actions a, .actions button{
    text-decoration: none;
    background-color: var(--light-gray);
    color: var(--dark-blue);
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5rem .8rem;
    border-radius: 5px;
    border: 2px solid var(--dark-blue);
    font-size: 12px;
}
.actions a:hover, .actions button:hover{
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

/* Responsividade */

@media (max-width: 555px) {
    .dashboard-header {
        flex-direction: column;
    }
    .dashboard-header a {
        font-size: 14px;
        width: 100%;
        text-align: center;
        padding: .5rem .2rem;
    }
    .dashboard-infos{
        justify-content: center;
        padding: .5rem;
    }
    .dashboard-row{
        padding: 0;
    }
}

@media (max-width: 755px){
    .actions{
        gap: .5rem;
        padding: .5rem;
        flex-direction: column;
    }
    .actions a, .actions button{
        width: 100%;
        text-align: center;
    }
}