.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  min-height: 100px;
  background-color: var(--dark-green);
  color: var(--light-gray);
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  width: 90px;
  margin-right: 0.8rem;
}
.navbar .nav-options {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.navbar a,
.navbar button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: var(--light-gray);
  font-weight: bold;
  font-size: 1.05rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: var(--light-gray);
  color: var(--dark-green);
}
.navbar button:hover {
  background-color: var(--light-gray);
  color: var(--dark-green);
}
a.active {
  background-color: var(--light-gray);
  color: var(--dark-green);
}

/* Responsividade */

@media (max-width: 755px) {
  .navbar-logo img {
    display: none;
  }
  .navbar-logo h2 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0.5rem 0;
  }
  .navbar .nav-options {
    gap: 0.3rem;
  }
  .navbar a,
  .navbar button {
    margin: 0 1px;
    font-size: 12px;
  }
  .navbar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
  }
}
