:root {
    --dark-green: #00533e;
    --dark-blue: #314259;
    --light-gray: #F5F5F5;
    --teal-blue: #001324;
    --text-success: #14A44D;
    --text-danger: #DC4C64;
  }

*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
h1{
    color: var(--dark-blue);
    margin: 1rem 0 2rem 0;
    font-size: 2.1rem;
}
h3{
    color: var(--dark-green);
}
.bold{
    font-weight: bold;
    color: var(--dark-green);
}
.text-success{
    color: var(--text-success);
}
.text-danger{
    color: var(--text-danger);
}