.form-container{
    max-width: 300px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 15px;
}
.form-container input[type='submit']{
    border-radius: 8px;
    background-color: var(--dark-green);
    color: #FFF;
    border: none;
    min-width: 100px;
    min-height: 2.5rem;
    width: 100%;
    cursor: pointer;
    transition: .5s;
    font-size: 1.1rem;
    font-weight: bold;
}
.form-container input[type='submit']:hover{
    opacity: .9;
}
.form-container p{
    margin-top: 1rem;
}
.form-container p a{
    color: var(--teal-blue);
    font-weight: bold;
}
select option {
    font-size: 1rem;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.form-control select{
    padding: .5rem;
    border: 1px solid #777;
    border-radius: 5px;
}
.form-control label{
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: .8rem;
}
.form-control input{
    padding: .5rem;
    border: 1px solid #777;
    border-radius: 5px;
}
.form-control input::placeholder{
    color: #7b7b7b;
}